body{
	min-width:350px;
	overflow:hidden;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
}

h4{
margin:-2px 0 10px 0;
width:300px;
text-align:center;
color: #ff007d;
font-family:verdana;
}

#wrap{
margin:0px;
width:325px;
height:auto;
display:block;
}

label{
padding:0 10px 0 0;
color:#0056bc;
}

ul{
margin:0;
padding:0;
clear:both;
}

ul li{
margin:0 auto;
float:left;
list-style:none;
vertical-align: center;
}


#loadf{
margin:0 auto;
width:325px;
height:45px;
background: url(../images/loadf.gif) no-repeat bottom;
z-index:101;
display:none;
}

#loady{
margin:0 auto;
width:325px;
height:45px;
background: url(../images/loady.gif) no-repeat bottom;
z-index:101;
display:none;
}

#loading p{
text-align:center;
font-size:11px;
}

#iFrame{
display:none;
}


#images{
	width:325px;
	overflow-x:hidden;
	z-index-100;
	}

#flickr{
	width:325px;
	margin: 0px;
	padding: 0px;
	overflow-x:hidden;
	z-index-100;
	}

#yupoo{
	width:325px;
	overflow-x:hidden;
	z-index-100;
	}

#images p{
	margin:0 auto;
	width:300px;
	text-align:center;
	}

a img {
  background:url(../images/img_load.gif) center center no-repeat;	
  margin:2px;
  border:1px solid black;
  vertical-align:middle;
  width:75px;
  height:75px;
}
